/* src/components/home_tab_components/ApparelProductTwoIndividualPriceText.css */
.apparel-product-two-individual-price-text {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #787974;
  display: block;
}