/* src/components/home_tab_components/ApparelProductOneIndividualPriceText.css */
.apparel-product-one-individual-price-text {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #787974;
  display: block;
}