/* src/components/home_tab_components/BeautyProductTwoColorsText.css */
.beauty-product-two-colors-text {
  color: #846e75;
  font-size: 17px;
  font-family: "Mulish", sans-serif;
  line-height: 24px;
}