/* src/components/home_tab_components/CartThreeImage.css */
.cart-three-image {
  width: 55px;
  height: 55px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}