/* src/components/home_tab_components/CartThreeBusinessName.css */
.cart-three-business-name {
  color: #12110a;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 21px;
}