/* src/components/home_tab_components/CartOneBusinessPrice.css */
.cart-one-business-price {
  color: #787974;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 16px;
}