/* src/components/home_tab_components/CartOneImage.css */
.cart-one-image {
  width: 55px;
  height: 56px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}