/* src/components/home_tab_components/FurnitureIcon.css */
.furniture-icon {
  width: 39px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; /* Indicate clickability */
}