/* src/components/home_tab_components/GroupBuyIconSix.css */
.group-buy-icon-six {
  width: 49px;
  height: 47px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}