/* src/components/home_tab_components/GroupBuyIconTwo.css */
.group-buy-icon-two {
  width: 49px;
  height: 47px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}