/* src/components/home_tab_components/HouseCleaningText.css */
.house-cleaning-text {
  color: #666; /* Inactive color */
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 25px;
  cursor: pointer;
}