/* src/components/home_tab_components/JoinGroupButtonFour.css */
.join-group-button-four {
  cursor: pointer;
  width: 105px;
  height: 35px;
  padding: 0 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #e10c62;
  color: #e8b8d1;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  line-height: 19px;
  outline: none;
}