/* src/components/home_tab_components/JoinGroupButtonEight.css */
.join-group-button-eight {
  cursor: pointer;
  width: 105px;
  height: 35px;
  padding: 0 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #63a353;
  color: #fff;
  font-size: 12px;
  font-family: "Mulish", sans-serif;
  line-height: 19px;
  outline: none;
}

.join-group-button-eight:hover {
  background-color: #8e1f5e;
}