/* src/components/home_tab_components/ShoesProductOneIndividualPriceText.css */
.shoes-product-one-individual-price-text {
  color: #a49198;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  line-height: 23px;
}