/* src/components/home_tab_components/ToysIcon.css */
.toys-icon {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}