/* src/components/home_tab_components/ViewBusinessTwoCartButton.css */
.view-business-two-cart-button {
  cursor: pointer;
  width: 94px;
  height: 32px;
  padding: 0 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #63a353;
  color: #fff;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 16px;
  outline: none;
}