/* src/components/me_tab_components/AddToCartButtonOne.css */
.add-to-cart-button {
  cursor: pointer;
  width: 105px;
  height: 35px;
  padding: 0 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 22px;
  background-color: #63a353;
  color: #fff;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  line-height: 19px;
  outline: none;
}