/* src/components/me_tab_components/OffersProductTextTwo.css */
.offers-product-text-two {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #12110a;
  display: block;
  text-align: left; /* Added to align left */
}