/* src/components/me_tab_components/ReviewProductTextFour.css */
.review-product-text-four {
  text-align: left;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #12110a;
  font-weight: 700;
  margin-bottom: 5px;
}