/* src/components/me_tab_components/ReviewPriceTextFour.css */
.review-price-text-four {
  text-align: left;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  color: #12110a;
  font-weight: 500;
  margin-bottom: 10px;
}